<h1>Greet me</h1>
<!--Hello, {{name}}-->
<div>
<!--    <a href="/hello">back</a>-->
</div>
<br>
<form method="post" action="/greet">
    Name<br>
    <input type="text" name="userName"><br>
    Language<br>
    <input type="radio" name="greetingLanguage" value="Afrikaans" id="afrikaans"><label for="afrikaans">Afrikaans</label><br>
    <input type="radio" name="greetingLanguage" value="Xhosa" id="xhosa"><label for="xhosa">Xhosa</label><br>
    <input type="radio" name="greetingLanguage" value="Zulu" id="zulu"><label for="zulu">Zulu</label><br>
    <input type="submit" value="submit">

</form>

<p>{{greeting}}</p>
<p>{{counter}}</p>